<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <div>Book Name : {{book.name}}</div>
  <div>Thumbnail : {{book.thumbnail}}</div>
</div> -->
<div class="row">
<input type="text" name="bookName" [(ngModel)] ="name" #bName />{{name}}
<br>
<button (click)="checkName(bName)" >Click Me!</button>
<br>
<app-book *ngFor="let book of books" [book]="book" (selected)="onBookSelected($event)"></app-book>
 
<app-country [countries]="countries"></app-country>
</div>
<div class="row">
  <app-selected-book [book] = "selectedBook" *ngIf="selectedBook">
    <p> Test Content</p>
  </app-selected-book>
</div>
<app-state [hidden]="!isCountrySelected" ></app-state>
 

